* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

main .content {
    padding: 40px;
}

table {
    border-radius: 1rem;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: #4D4AE8;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

    th:last-child {
        border: 0;
    }

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

.data-grid {
    width: 100%;
}

    .data-grid table {
        width: 100%;
    }

.mainBtn {
    appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

    .mainBtn:focus:not(:focus-visible),
    .mainBtn:focus {
        outline: 0;
    }

    .mainBtn:hover {
        background-color: #3733E5;
        border-color: #3733E5;
    }

    .mainBtn:focus {
        background-color: #413FC5;
        border-color: #3E3BBA;
        box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
    }

    .mainBtn:active {
        background-color: #3E3BBA;
        background-image: none;
        border-color: #3A38AE;
        box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
    }

        .mainBtn:active:focus {
            box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
        }

    .mainBtn:disabled {
        background-image: none;
        box-shadow: none;
        opacity: .65;
        pointer-events: none;
    }

    .mainBtn.gridBtn {
        padding: 4px 17px;
    }

.grid-actions {
    width: 12%;
}

.data-details-cart {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #BFBFBF;
    border-radius: 1rem;
}

.modal-footer {
    gap: 10px;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 1rem;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: #5552d1;
    border-top: #5552d1 solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .1s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}

    .option:hover {
        background: #6562de;
    }

.select:focus .option {
    position: relative;
    pointer-events: all;
    color: white;
}

.select input {
    opacity: 0;
    position: absolute;
    left: -99999px;
    color: white;
}

    .select input:checked + label {
        order: 1;
        z-index: 2;
        background: #5552d1;
        border-top: none;
        position: relative;
        color: white;
    }

        .select input:checked + label:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid white;
            position: absolute;
            right: 10px;
            top: calc(50% - 2.5px);
            pointer-events: none;
            z-index: 3;
            color: white;
        }

        .select input:checked + label:before {
            position: absolute;
            right: 0;
            height: 40px;
            width: 40px;
            content: '';
            background: #5552d1;
            color: white;
        }

.mainLayout {
    padding: 0 400px;
}
